<!doctype html>

<html lang="en">



<!DOCTYPE html>
<html lang="en ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3477ae541c.js" crossorigin="anonymous"></script>
    <!-- swipper cdn  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <link href="syl.css" type="text/css" rel="stylesheet" />
    <title>Horeb Tuition</title>
</head>

<body>

    <!-- header  -->
    <header>


        <a href="/" class="logo">Horeb Tuition</a>

        <nav class="navbar">
            <a style="float:left" class="active" href="/">Home</a>
            <a style="display: {{adminCont}};float:left" href="addQuestion">Add Questions</a>
            <a style="display: {{adminCont}};float:left" href="ViewQuestion">Edit Question</a>
            <a style="display: {{adminCont}};float:left" href="viewStudentScr">Student Feedback</a>
            <a style="display: {{adminCont}};float:left" href="viewScore">Student Score</a>


            <a style="display: {{StudCont}}; float:left" href="Studenttest">Take Test</a>
            <a style="display: {{StudCont}};float:left" href="Status">History</a>



            <a style="float:right; display: {{Login}}" href="/login">Login</a>
            <a class="li" style="float:left; display: {{adminCont}}" href="editStudent">Edit Student</a>
            <a class="li" style="float:left; display: {{adminCont}}" href="/addStudent">Add Student</a>
            <a class="li" style="float:right; display: {{Logout}}" href="/logout">Logout</a>

        </nav>

    </header>


    <!-- home  -->
    <div class="home" id="home">

        <div class="swiper home-slid">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="tu1.jpeg" class="MOT-Test Img">

                    </div>
                    <div class="content">
                        <h3>Horeb Tuition:</h3>

                        <p style="font-size: 2.3rem;">Our 11+ Face to Face and online, GL and CEM style lessons provide
                            suport for students preparing for Grammar Scools Entrance Exam.
                        </p>
                        <br>
                        <br>

                        <h3>We cover:</h3>
                        <div style="font-size: 1.8rem;">
                            <li>English</li>
                            <li>Non Verbal Reasoning</li>
                            <li>Verbal Reasoning</li>
                            <li>Maths</li>
                        </div>

                        <h2><br> Together we can make a difference!</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <!-- HomePage -->

    <!-- .contact  -->
    <section class="contact" id="contact">
        <h2 class="heading">contact us</h2>
        <div class="box">
            <div class="content">
                <i class="fa-solid fa-mobile-screen"></i>
                <div>call Mulubrhan: 07578642827 Or Selam: 07478768072</div>
                <div>monday-friday (9am-5:30pm) </div>
            </div>
            <div class="content">
                <i class="fa-solid fa-envelope"></i>
                <div>Email</div>
                <div>Horeb1333@gmail.com</div>

            </div>
            <div class="content">
                <i class="fa-solid fa-location-dot"></i>
                <div>location</div>
                <div> 56A Greathampton Street</div>
                <div>Birmingham B18 6EL</div>
            </div>
        </div>





        <div class="row">
            <div class="ifarm">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=56A%20Greathampton%20Street%20Birmingham%20B18%206EL&t=&z=17&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi
                            discount</a><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 430px;
                                width: 550px;
                            }
                        </style><a href="https://www.embedgooglemap.net">embed map in website</a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 430px;
                                width: 550px;
                            }
                        </style>
                    </div>
                </div>

            </div>
            <div class="form-c">
                <form action="/" enctype="multipart/form-data" method="post">
                    <input type="text" name="name" placeholder="name">
                    <input type="email" name="email" placeholder="email">
                    <input type="number" name="phone" placeholder="phone">
                    <textarea name="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="send">
                </form>
            </div>
        </div>
    </section>
    <!-- /contact  -->

    <footer class="footer" id="footer">
        <div class="box-containr">
    </footer>


</body>

</html>