<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Student Feedback</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta name="description" content="view all questions">
	<meta name="author" content="Kebrom Brhane">
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>

	<ul class="ul" class="centerText">
		<li class="li"><a href="/">Home</a></li>
		<li class="li"><a href="addQuestion">Add Questions</a></li>
		<li class="li"><a href="ViewQuestion">Edit Question</a></li>
		<li class="li"><a class="active" href="viewStudentScr">Student Feedback</a></li>
		<li class="li"><a href="viewScore">Student Score</a></li>



		<li style="float:right"><a href="/logout">Logout</a></li>
		<li class="li" style="float:right"><a href="editStudent">Edit Student</a></li>
		<li class="li" style="float:right"><a href="/addStudent">Add Student</a> </li>
	</ul>


	<div>
		<form action="/viewStudentScr" method="post">
			<ol>
				<h2>{{message}}</h2>

				<label for="level">Select Week</label> <br />

				<input type="week" id="Questionwk" name="Questionwk" value=""> <br />

				<label for="date"> Student username</label> <br />
				<input type="text1" id="studentUsername" name="studentUsername" value=""> <br />

				<input type="submit" value="Search">

				<ol>
					{{#each Studenscr}}
					<h3 style="font-size: small;">Student score is {{this.Score}} out of {{this.Outoff}} </h3>
					{{/each}}

					<br>

					{{#each listQuestion1}}
					<h3 style="font-size: small; ">{{this.question}} </h3>
					<textarea rows="2" cols="60" readonly>{{this.question}}</textarea>

					<p style="font-size: smaller;color:{{this.colour}};">Ans: {{this.StudnetAns}} </p>
					<p style="font-size: smaller;color:{{this.colour}};">Correct Ans: {{this.correctAns}} </p>
					{{/each}}
				</ol>


			</ol>

		</form>

	</div>
</body>

</html>