<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Edit Question</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta name="description" content="view all questions">
	<meta name="author" content="Kebrom Brhane">
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>

	<ul class="ul" class="centerText">
		<li class="li"><a href="/">Home</a></li>
		<li class="li"><a href="addQuestion">Add Questions</a></li>
		<li class="li"><a class="active" href="ViewQuestion">Edit Question</a></li>
		<li class="li"><a href="viewStudentScr">Student Feedback</a></li>
		<li class="li"><a href="viewScore">Student Score</a></li>



		<li style="float:right"><a href="/logout">Logout</a></li>
		<li class="li" style="float:right"><a href="editStudent">Edit Student</a></li>
		<li class="li" style="float:right"><a href="/addStudent">Add Student</a> </li>
	</ul>



	<div>

		<form action="/ViewQuestion" method="post">

			<label for="level">Select level</label> <br />
			<select id="level" name="level">
				<option value="Year1">Year 1</option>
				<option value="Year2">Year 2</option>
				<option value="Year3">Year 3</option>
				<option value="Year4">Year 4</option>
				<option value="Year5">Year 5</option>
				<option value="Year6">Year 6</option>
			</select> <br />

			<label for="date"> Select Week of the exam </label> <br />
			<input type="week" id="questionWk" name="questionWk" value=""> <br />

			<input type="submit" value="Search">
		</form>


		<form action="editQuestion" method="POST">
			<table class="w3-table-all w3-hoverable" style="width:100%">
				<thead>
					<tr class="w3-light-grey">
						<th>Question Level</th>
						<th>Question Week</th>
						<th>Question Example</th>
						<th>Question Title</th>
						<th>Sequence</th>
						<th>Question</th>
						<th>Correct Answer</th>
					</tr>
				</thead>
				<h2>{{message}}</h2>
				{{#each viewQuestion}}
				<tr style="background-color:rgb(216, 213, 203);">
					<input type="hidden" name="Qid" id="Qid" value="{{this.Qid}}" />

					<td>
						<select type="text1" id="level" name="level">
							<option value="{{this.level}}">{{this.level}}</option>
							<option value="Year1">Year 1</option>
							<option value="Year2">Year 2</option>
							<option value="Year3">Year 3</option>
							<option value="Year4">Year 4</option>
							<option value="Year5">Year 5</option>
							<option value="Year6">Year 6</option>
						</select>
					</td>


					<td>
						<input type="text1" type="week" id="questionWk" name="questionWk" value="{{this.questionWk}}">
					</td>

					<td>
						<textarea type="text" id="Example" name="Example"
							placeholder="{{this.Example}}">{{this.Example}}</textarea>
					</td>

					<td>
						<textarea type="text" id="QuestionTitile" name="QuestionTitile"
							placeholder="{{this.questionTitle}}">{{this.questionTitle}}</textarea>
					</td>
					<td>
						<textarea type="text" id="sequence" name="sequence"
							placeholder="{{this.sequence}}">{{this.sequence}}</textarea>
					</td>
					<td>
						<textarea type="text" id="Question" name="Question"
							placeholder="{{this.Question}}">{{this.Question}}</textarea>
					</td>
					<td>
						<textarea type="text" id="correctAns" name="correctAns"
							placeholder="Enter the crrect answer..">{{this.correctAns}}</textarea>
					</td>
				</tr>

				{{/each}}

			</table>
			<button class="button" name="update" id="update" type="submit" value="{{this.Qid}}">Update</button </form>

	</div>
</body>

</html>